.vercel
node_modules/
__pycache__/
*.pyc

.env*
www/
android/.gradle/
android/**/build/
android/local.properties
android/release.properties
android/keystore.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/
*.jks
*.keystore
release/
android/.idea/
